<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scttsc.baselibs.dao.ConsDao">

	<resultMap id="result" type="com.scttsc.baselibs.model.Cons">
		<result property="id" column="ID" jdbcType="DECIMAL" />
		<result property="code" column="CODE" jdbcType="DECIMAL" />
		<result property="name" column="NAME" jdbcType="DECIMAL" />
		<result property="groupCode" column="GROUPCODE" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,CODE,NAME,GROUPCODE
	</sql>

	<select id="getByConds" resultMap="result">
		select
		<include refid="Base_Column_List" />
		from wy_cons
		<where>
		1=1
			<if test="groupCode!=null">
				and groupcode=#{groupCode,jdbcType=VARCHAR}
			</if>
            <if test="pId!=null">
                and pid=#{pId,jdbcType=VARCHAR}
            </if>
            <if test="name!=null">
                and name=#{name,jdbcType=VARCHAR}
            </if>
            <if test="pId==null">
                and pid is null
            </if>
			order by orderby
		</where>
	</select>
	
	<select id="getByMap" resultMap="result">
		select
		<include refid="Base_Column_List" />
		from wy_cons
		<where>
		1=1
			<if test="groupCode!=null">
				and groupcode=#{groupCode,jdbcType=VARCHAR}
			</if>
			<if test="code!=null">
				and code=#{code,jdbcType=DECIMAL}			
			</if>
            <if test="name!=null">
                and name=#{name,jdbcType=VARCHAR}
            </if>
		</where>
	</select>
</mapper>

