<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scttsc.baselibs.dao.SecneryLibDao" >
  <resultMap id="BaseResultMap" type="com.scttsc.baselibs.model.SecneryLib" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="DECIMAL" />
    <result column="CITY_ID" property="cityId" jdbcType="DECIMAL" />
    <result column="COUNTRY_ID" property="countryId" jdbcType="DECIMAL" />
    <result column="SCE_NAME" property="sceName" jdbcType="VARCHAR" />
    <result column="SCE_LEVEL" property="sceLevel" jdbcType="DECIMAL" />
    <result column="LONGITUDE" property="longitude" jdbcType="DECIMAL" />
    <result column="LATITUDE" property="latitude" jdbcType="DECIMAL" />
    <result column="INTIME" property="intime" jdbcType="DATE" />
    <result column="UPDATETIME" property="updatetime" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL" />
    
    
    <result column="cityname" property="cityName" jdbcType="VARCHAR" />
    <result column="countryname" property="countryName" jdbcType="VARCHAR" />
    <result column="scelevelname" property="scelevelName" jdbcType="VARCHAR" />
    
    
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    u.ID, PROVINCE_ID, CITY_ID, COUNTRY_ID, SCE_NAME, SCE_LEVEL, LONGITUDE, LATITUDE, INTIME, 
    UPDATETIME, REMARK,DELETE_FLAG
  </sql>
  
  <select id="loadAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from WY_LIB_SCENERY u where u.DELETE_FLAG=0
  </select>
  
  <select id="getByConds" resultMap="BaseResultMap">
		select* from (select m.*,ROWNUM RN from
		(select
		<include refid="Base_Column_List" />,a.name cityname,b.name countryname,c.name scelevelname
		from WY_LIB_SCENERY u
		left join wy_city a on a.id=u.CITY_ID
		left join wy_city b on b.id=u.COUNTRY_ID
		left join (SELECT CODE,NAME FROM wy_cons WHERE groupcode='SECNERYTYPE')c
		on u.SCE_LEVEL=c.code
		)m
		<where>
            and DELETE_FLAG=0
			<if test="countryIds!=null">
				and COUNTRY_ID in(${countryIds})
			</if>
			<if test="start!=null">
				and RowNum &lt; (#{start} + #{pagesize})
			</if>
		</where>
		)
		<where>
			<if test="start!=null">
				RN >= #{start}
			</if>
		</where>
	</select>

	<select id="countByConds" resultType="int">
		select count(1) from
		(select
		<include refid="Base_Column_List" />
		from WY_LIB_SCENERY u)
		<where>
			1=1 and DELETE_FLAG=0
			<if test="countryIds!=null">
				and COUNTRY_ID in(${countryIds})
			</if>
		</where>
	</select>
	
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from WY_LIB_SCENERY u
    where u.ID = #{id,jdbcType=DECIMAL} and u.DELETE_FLAG=0
  </select>

   <update id="deleteByDeleteFlag">
       update WY_LIB_SCENERY set DELETE_FLAG=1,UPDATETIME=sysdate where id in(${ids})
   </update>
  
  <delete id="delete" >
    delete from WY_LIB_SCENERY
    where ID in(${ids})
  </delete>
  
 
  <insert id="insert" parameterType="com.scttsc.baselibs.model.SecneryLib" >
    insert into WY_LIB_SCENERY (ID, PROVINCE_ID, CITY_ID, 
      COUNTRY_ID, SCE_NAME, SCE_LEVEL, 
      LONGITUDE, LATITUDE, REMARK)
    values (WY_LIB_scenery_SEQ.nextval, #{provinceId,jdbcType=DECIMAL}, #{cityId,jdbcType=DECIMAL}, 
      #{countryId,jdbcType=DECIMAL}, #{sceName,jdbcType=VARCHAR}, #{sceLevel,jdbcType=DECIMAL}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
 
 
  <update id="update" parameterType="com.scttsc.baselibs.model.SecneryLib" >
    update WY_LIB_SCENERY
    set PROVINCE_ID = #{provinceId,jdbcType=DECIMAL},
      CITY_ID = #{cityId,jdbcType=DECIMAL},
      COUNTRY_ID = #{countryId,jdbcType=DECIMAL},
      SCE_NAME = #{sceName,jdbcType=VARCHAR},
      SCE_LEVEL = #{sceLevel,jdbcType=DECIMAL},
      LONGITUDE = #{longitude,jdbcType=DECIMAL},
      LATITUDE = #{latitude,jdbcType=DECIMAL},
      UPDATETIME = sysdate,
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>