@charset "utf-8";
body,ul,li,dl,dt,dd,p,span,img,h1,h2,h3,h4,h5,h6{padding:0; margin:0px;}
ul,li{ list-style:none;}
body{ font-size:12px;  margin:0; padding:0; font:Arial, Helvetica, sans-serif; }
img{ vertical-align: top;  border:0;}
a:link img{ border:0px }
a:hover{color:#215dd1; text-decoration: underline;}
.clear{ clear:both;}

/*FontStyle*/
.fblod{ font-weight:bold;}
.pind{text-indent:2em;}
.Fsize14{ font-size:14px;}
.Fsize16{ font-size:16px;}
.Fsize18{ font-size:18px;}
.titleF{ font:18px/1.125 "微软雅黑","黑体"; }

/*FontColor*/
.Fblue{ color:#0066cc;}
.Fblack{ color:#000;}
.Fred{ color:#F00;}

/*margin*/
.marginT50{ margin-top:50px;}
.marginT30{ margin-top:30px;}
#marginT30{ margin-top:30px;}
.marginT20{ margin-top:20px;}
.marginT10{ margin-top:10px;}
#marginT10{ margin-top:10px;}
#marginT30{ margin-top:30px;}
.marginR20{ margin-right:20px;}
.marginL5{ margin-left:5px;}
.marginL20{ margin-left:20px;}
.marginR10{ margin-right:10px;}
.marginR60{ margin-right:60px;}
.marginB30{ margin-bottom:30px;}
.marginB10{ margin-bottom:10px;}
.marginB20{ margin-bottom:20px;}
.marginB10{ margin-bottom:10px;}

.imgFleft{ float:left;}
.imgFright{ float:right;}

/*login*/
#login_body{ background-color:#0a76b0;}
#login_wrap{ width:1024px; height:480px; background:url(../images/login_bg.jpg) no-repeat ; margin:0 auto; padding-top:80px}
#login_top{ background:url(../images/login_bg_top.jpg) no-repeat center; width:593px; height:175px; margin: auto;text-align:center;}
#login_mid_center{ background:url(../images/login_center.png) repeat-y; width:593px; margin:0 auto;}
#login_mid_center table{width:593px; }
#login_mid_center table tr th{ color:#006699; width:196px; text-align:right; height:50px; padding:0 10px 0 0; font-weight:normal;}
#login_table_tr{ height:40px; text-align:center}
#login_btm{background:url(../images/login_btm.png) no-repeat; width:593px; height:66px; margin:0 auto;}
.login_input_user{background:url(../images/login_input_user.jpg) no-repeat #FFF; height:27px;width:180px; border:0px; font-size:14px; padding-left: 27px;  color:#075587}
.login_input_pswd{background:url(../images/password_bg.jpg) no-repeat #FFF; height:27px; width:180px;border:0px; font-size:14px;  padding-left: 27px; color:#075587}

#footer{ width:100%;height:18px; background:url(../images/body_bg_top.gif) repeat-x top #e6f4fa; min-width:960px; text-align:center; color:#fff;padding:24px 0 0 0;position: absolute;left:0;bottom:0;}
#footer_a{width:100%; height:40px; background: #006699 ; min-width:960px; text-align:center; color:#fff; padding:24px 0 0 0;position: absolute;left:0;bottom:0;}
#footer_b{width:100%; height:40px; background: #006699 ; min-width:960px; text-align:center; color:#fff; padding:24px 0 0 0;position: initial;left:0;bottom:0;}



.almIcon{
    background-attachment:scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: 0;
    outline: medium none;
    vertical-align: middle;
    width: 16px;
}
/*本地网图片按告警4个级别 还有个 没有告警的 一共5个*/
.almLevel1Localnet_ico{
  background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/folder_red.png");
}
.almLevel2Localnet_ico{
  background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/folder_orange.png");
}
.almLevel3Localnet_ico{
  background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/folder_yellow.png");
}
.almLevel4Localnet_ico{
  background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/folder_blue.png");
}
.noAlmLocalnet_ico{
   background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/folder_green.png");
}

 /*热点图片按告警4个级别 还有个 没有告警的 一共5个*/
.almLevel1Hotpoint_ico{
    background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/ap_red.gif");
}
.almLevel2Hotpoint_ico{
    background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/ap_orange.gif");
}
.almLevel3Hotpoint_ico{
    background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/ap_yellow.gif");
}
.almLevel4Hotpoint_ico{
    background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/ap_blue.gif");
}
.noAlmHotpoint_ico{
    background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/ap_green.gif");
}
/*设备图片按告警4个级别 还有个 没有告警的 一共5个*/
.almLevel1Device_ico{
     background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/icon_device_level_red.png");
}
.almLevel2Device_ico{
     background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/icon_device_level_orange.png");
}
.almLevel3Device_ico{
     background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/icon_device_level_yellow.png");
}
.almLevel4Device_ico{
     background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/icon_device_level_blue.png");
}
.znoAlmDevice{
       background-image:url("../../../jquery/zTree/css/zTreeStyle/img/diy/icon_device_level_green.png");
}
